

<h1>Get To Know Joel</h1>

<br/>
<br/>

<p>
    Joel I a fun guy who Loves film! He minored in Film Studies at BYU, contracts as a movie reviewer for
    ClearPlay, and does a weekly podcast about films & pop culture called Baconsale.
</p>
<br/>
<p>Joel also performs regularly on Quick Wits Comedy. Here is a link to <a href="https://www.qwcomedy.com/">check it out</a>.</p>
<br />
<p>His podcast 'Baconsale' is a huge hit. Check it out <a href="https://baconsale.com/">here</a>.</p>
<br />
<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" ></a>
